@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(10, 65, 216);
    text-align: center;
}


